<h1>Posts</h1>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <p><%= link_to image_tag(post.image.thumb.url), post %></p>
        <p>
          <em><%= post.caption %></em> - <strong><%= link_to post.user, post.user %></strong>
        </p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
